p {
	font-family: Arial, sans-serif;
	color: grey;
}

#header-text{
	color: grey;
}
.header {
	font-family: Palatino, Georgia, serif;
}
.starters-font {
	font-family: Palatino, Georgia, serif;
}

.starters {
	margin: 10px;
}

.titles {
	color:grey;
}

.image {
		display:block;
		float: left;
	}

.details {
	display: inline;
}

.item {
	display: flex;
	margin: 10px;
}

.menu {
	margin: 2em;
}

	
@media only screen and (max-width: 600px) {
	.header {
		text-align: center;
	}
	#header-text{
		text-align: center;
	}

	.image {
		display:block;
		float: left;
	}

	.details {
		display: inline;
	}

	.item {
		display: flex;
		margin: 10px;
	}

	.menu {
		margin: 2em;
	}

}